:root {
    --color-shift-amount-start: 0deg; 
    --color-shift-amount-middle: 180deg; 
    --color-shift-amount-end: 360deg;
}

* {
    background-color: black;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
}


#main-h1 {
    margin: 0;
    color: white;
    background-image: linear-gradient(110deg, #16d559, #1aa090);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
    font-size: 4rem;
}

@keyframes hue {
    0% {
        filter: hue-rotate(var(--color-shift-amount-start));
    }
    50% {
        filter: hue-rotate(var(--color-shift-amount-middle))
    }
    100% {
        filter: hue-rotate(var(--color-shift-amount-end))
    }
}

main {
    display: grid;
    justify-content: center;
    position: absolute;
    place-items: center;
    grid-template-rows: 100vh;
    grid-template-rows: 100svh;
}


#purpose-display-container {
    padding: 10px;
    width: fit-content;
    text-align: center;
    z-index: 2;
    transition: 1s ease-in-out;
}

#purpose-display {
    padding: 20px;
    background-color: #090909;
    border: 7px white solid;
    border-image: linear-gradient(110deg, #16d559, #1aa090);
    animation: hue 8s infinite linear;
    transition: 0.3s ease-out;
    
}

.opacity-none {
    opacity: 0;
}

#scroll-amount {
    height: 4px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: whitesmoke;
    scale: 0 1;
    animation: linear scroll-anim;
    z-index: 10000;
    animation-timeline: scroll(); /*does not work on safari or firefox :(*/
}

@keyframes scroll-anim {
    to {
        scale: 1 1
    }
}

header {
    color: whitesmoke;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav > ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
    font-size: larger;
}

li > a {
    color: whitesmoke
}

#left-links {
    padding-left: 18px;
}

#right-links {
    padding-left: 0;
    padding-right: 24px;
}

#main-paragraph-container > h2, #main-paragraph-container > p {
    color: white;
    text-align: center;
}


#main-paragraph-h2 {
    margin: 0;
    margin-top: 60px;
}



#main-paragraph-container {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 3fr 3fr;
    padding: 120px;
    font-size: xx-large;
    padding-bottom: 0px;
}

#main-paragraph-ul {
    align-items: top;
    color: white;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
}

#main-paragraph-ul > li {
    font-size: xx-large;
    text-wrap:nowrap
}

.hidden-main {
    transition: 2s ease-out;
    transform: translateY(20%);
    opacity: 0;
}

.main-show {
    transform: translateY(-20%);
    opacity: 1;
}

.hidden-side {
    transition: 2s ease-out;
    gap: 0 140%;
    opacity: 0;
}

.side-show {
    gap: 0% 40%;
    opacity: 1;
}



#selectable-section {
    display: grid;
    grid-template-columns: 40fr 1fr 60fr;
    grid-template-rows: none;
    padding: 0px 100px;
}






























footer {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

footer > p {
    color: white;
    margin-right: 18px;
}
