* {
    background-color: black;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    margin: 0;
    height: 100%;
}


h1 {
    margin: 0;
    color: red;
    background-image: linear-gradient(110deg, #16d559, #1aa090);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 8s infinite linear;
    letter-spacing: 1px;
    font-size: 4rem;
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg)
    }
}

#purpose-display {
    margin: auto;
    text-align: center;
    width: fit-content;
    padding: 20px;
    border: 7px solid wheat;
    border-image: linear-gradient(110deg, #16d559, #1aa090);
    transition: 1s ease-in-out;
    margin-top: 42vh;
    margin-top: 42svh;
    background-color: #090909;
}

.opacity-none {
    opacity: 0;
}