* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
}

#scrolling-background {
    z-index: -1;
    position: absolute;
    width: 300%;
    height: 300%;
    background-color: black; /* Helps prevent flashing when loading site */
    background-image: url("../ASSETS/Space.png");
    background-repeat: repeat;
    animation: infinite linear 140s move-background;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%
}

nav > ul {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    gap: 120px;
    list-style-type: none;
    font-size: xx-large;
}

#launch {
    background-color: #f23232;    
    border: 4px ridge darkgray;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 2px;
}   



@keyframes move-background {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(20deg);
    }
}