#random-site-a {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    color: whitesmoke;
    transition: 1s ease-in-out;
}